<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Forgot Password?</h3></div>
                                    <div class="card-body">
                                            <div class="form-floating mb-3">
                                                <input class="form-control inputNickname" id="inputNickname" type="text"
                                                       name="nickname" />
                                                <label for="inputNickname">Nickname</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control inputEmail" id="inputEmail" type="email"
                                                       name="email" />
                                                <label for="inputEmail">email</label>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <button class="btn btn-primary checkBtn" type="button" >Check</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a th:href="@{/member/register}">Need an account? Sign up!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="findModal modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Password Reset</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control modalEmail" name="modalEmail" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>

                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control" name="confirmPwd">
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary resetPwdBtn">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End  Modal -->
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/scripts.js}"></script>

        <script>

            $(document).ready(function (e){

                let inputNickname = $('input[name="nickname"]');
                let inputEmail = $('input[name="email"]');

                let findModal = $(".findModal");

                $(".checkBtn").click(function (){

                    if(checkValidation()==false){
                        return false;
                    }

                    let data = {
                        nickname:inputNickname.val(),
                        email:inputEmail.val()
                    }

                    console.log(data);

                    $.ajax({
                        url:"/memberRest/checkNicknameEmail",
                        type:"POST",
                        data:JSON.stringify(data),
                        contentType:'application/json; charset=utf-8',
                        success: function (result){

                            if(result=="확인"){
                                alert("닉네임과 이메일이 확인되었습니다.");
                                findModal.show();
                                modalEmail.val(inputEmail.val());

                            }else{
                                alert(result);
                            }

                        }
                    })

                })

                let modalEmail = $('input[name="modalEmail"]');
                let modalPwd = $('input[name="password"]');
                let confirmPwd = $('input[name="confirmPwd"]');

                $(".resetPwdBtn").click(function (){

                    if(checkValidationModal()==false){
                        return false;
                    }

                    let data = {
                        email:modalEmail.val(),
                        password:modalPwd.val()
                    }

                    console.log(data);

                    $.ajax({
                        url:"/memberRest/changePwd",
                        type: "PUT",
                        data:JSON.stringify(data),
                        contentType: "application/json;charset=utf-8",
                        success : function (result){

                            alert(result + "님 비밀번호 재설정 완료");
                            findModal.hide();
                            location.href="/member/login";

                        }
                    })

                })

                function checkValidation(){

                    if(inputEmail.val().length==0){
                        alert("이메일을 입력해주세요.");
                        return false;
                    }else if(inputNickname.val().length==0){
                        alert("닉네임을 입력해주세요.");
                        return false;
                    }else{
                        return true;
                    }

                }

                function checkValidationModal(){

                    if(modalPwd.val().length==0 || confirmPwd.val().length==0){
                        alert("비밀번호를 입력해주세요.");
                        return false;
                    }else if(modalPwd.val() !== confirmPwd.val()){
                        alert("비밀번호가 일치하지 않습니다.")
                        return false;
                    }else {
                        return true;
                    }

                }


                $(".forgotBtn").click(function (){
                    findModal.show();
                })

                $(".closeBtn").click(function (){
                    findModal.hide();
                })


            })

        </script>


    </body>
</html>
