<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security" >

<th:block th:replace="~{layout/example :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">My Page</h1>

        <form th:action="@{/member/modify}" th:method="post">

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" th:value="${dto.email}" readonly>
            </div>

            <div class="form-group">
                <label>NickName</label>
                <input type="text" class="form-control" name="nickname" th:value="${dto.nickname}">
            </div>

            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" name="phone" th:value="${dto.phone}">
            </div>

            <button type="button" class="btn btn-primary modifyBtn">Modify</button>
            <button type="button" class="btn btn-info listBtn">Back</button>
            <button type="button" class="btn btn-danger removeBtn">Remove</button>

        </form>




        <script>
            $(document).ready(function (e) {


            });
        </script>

        <script th:inline="javascript">

            let oauth= [[${oauth}]];

            let actionForm = $("form"); //form객체
            let inputPhone = $('input[name="phone"]');
            let inputNickname = $('input[name="nickname"]');

            /*  Modify Button */
            $(".modifyBtn").click(function (){

                if(!confirm("수정하시겠습니까?")){
                    return;
                }


                if(oauth!=null){
                    alert("외부로그인을 통해 접속하신 분은 수정이 불가능합니다.");
                    return false;
                }
                if(checkValidation()==false){
                    return false;
                }

                actionForm
                    .attr("action","/member/modify")
                    .attr("method","post")
                    .submit();
            });
            /*  End Modify */

            /*  Remove Button  */
            $(".removeBtn").click(function (){

                if(!confirm("삭제하시겠습니까?")){
                    return;
                }

                if(oauth!=null){
                    alert("외부로그인을 통해 접속하신 분은 삭제가 불가능합니다.");
                    return false;
                }

                actionForm
                    .attr("action","/member/remove")
                    .attr("method","post")
                    .submit();
            });
            /*  End Remove  */

            /*  List Button  */
            $(".listBtn").click(function (){

                /*let pageInfo = $("input[name='page']");

                actionForm.empty(); //form 태그의 모든 내용 삭제
                actionForm.append(pageInfo) //목록 페이지에 필요한 페이지정보*/

                actionForm
                    .attr("action","/member/my")
                    .attr("method","get")
                    .submit();

            });
            /*  End List  */

            function checkValidation(){

                let regPhone = /^01([0|1])-?([0-9]{3,4})-?([0-9]{4})$/;

                if(inputPhone.val().length==0){
                    alert("전화번호를 입력해주세요.");
                    return false;
                }else if(!regPhone.test(inputPhone.val())){
                    alert("정확한 형식의 전화번호를 입력해주세요.");
                    return false;
                }else if(inputNickname.val().length==0){
                    alert("닉네임을 입력해주세요.");
                    return false;
                }else {
                    return true;
                }

            }

        </script>



    </th:block>


</th:block>

</html>