<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register - SB Admin</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <form th:action="@{/member/register}" th:method="post"
                                              class="createForm" >
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control nickname" id="nickname" name="nickname"
                                                               type="text" />
                                                        <label for="nickname">Nickname</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control phone" id="phone" name="phone"
                                                               type="text" maxlength="11" />
                                                        <label for="phone">Phone Number</label>
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" />
                                                        <label for="inputLastName">Last name</label>
                                                    </div>
                                                </div>-->
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="email" name="email"
                                                       type="email" />
                                                <label for="email">Email address</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="password" name="password"
                                                               type="password"/>
                                                        <label for="password">Password</label>
                                                    </div>
                                                </div>
                                                <!--<div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirm password" />
                                                        <label for="inputPasswordConfirm">Confirm Password</label>
                                                    </div>
                                                </div>-->
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                                    <!--<a class="btn btn-primary btn-block" href="login.html">Create Account</a>-->
                                                    <button type="button" class="btn btn-primary btn-block create">Create Account</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">
                                            <a th:href="@{/login}">Have an account? Go to login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/scripts.js}">

        </script>

        <script>


            let inputNickname = $('input[name="nickname"]');
            let inputEmail = $('input[name="email"]');
            let inputPhone = $('input[name="phone"]');
            let inputPassword = $('input[name="password"]');

            function checkValidation(){

                let regPhone = /^01([0|1])-?([0-9]{3,4})-?([0-9]{4})$/;
                let regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;


                if(inputPhone.val().length==0){
                    alert("전화번호를 입력해주세요.");
                    return false;
                }else if(!regPhone.test(inputPhone.val())){
                    alert("정확한 형식의 전화번호를 입력해주세요.");
                    return false;
                }

                if(inputPassword.val().length==0){
                    alert("비밀번호를 입력해주세요.");
                    return false;
                }else

                if(inputNickname.val().length==0){
                    alert("닉네임을 입력해주세요.");
                    return false;
                }else

                if(!regEmail.test(inputEmail.val())){
                    alert("정확한 형식의 이메일을 입력해주세요.");
                    return false;
                }else{
                    return true;
                }

                return false;

            }

            $(".create").click(function (e){

                if(checkValidation()==false){
                    return false;
                };

                let data = {
                    nickname: inputNickname.val(),
                    email: inputEmail.val(),
                    phone: inputPhone.val(),
                    password: inputPassword.val()
                }

                $.ajax({
                    url:"/memberRest/register",
                    type:"POST",
                    data:JSON.stringify(data),
                    contentType:"application/json; charset=utf-8",
                    success: function (result){

                        if(result=="이미 사용중인 이메일입니다."){
                            alert(result);
                            return false;
                        }else{
                            alert(result+"님 회원가입이 완료되었습니다.");
                            location.href="/member/login";
                        }

                    }
                })

                console.log(data);

            })


        </script>



    </body>
</html>
